@import "tailwindcss";

:root {
  --primary: #00C9A7;

  --background: #ffffff;
  --foreground: #111827;

  --font-heading: var(--font-space-grotesk);
  --font-body: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* Selection Color */
::selection {
  background: #00C9A7;
  color: #fff;
}